body {
  font-family: 'Raleway', serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#cardForm {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056a7;
}

/* Modal CSS */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
}

.certificate-logo {
  max-width: 350px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #888;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

#certificateContent {
  font-family: 'Raleway', serif;
  color: #333;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #dc7f5f;
  border-radius: 10px;
  margin: 20px 0;
}

h1, .modal-content h3, .modal-content p {
  color: #5d5f5e;
}
